name: Glue CI/CD

on:
  push:
    branches: [ "develop" ]

  workflow_dispatch:   # â† manual run enabled


jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      S3_BUCKET: airport-airline-operations-analytics-platform
      GLUE_SCRIPT: glue_job.py
      GLUE_SCRIPT_KEY: scripts/glue_job.py

      GLUE_STACK: glue-cicd-stack
      CRAWLER_STACK: glue-crawler-stack
      GLUE_JOB: FinalGlue


    steps:

# ==============================
# Checkout
# ==============================
      - uses: actions/checkout@v4


# ==============================
# Debug files (important)
# ==============================
      - name: Show repo files
        run: ls -R


# ==============================
# Python
# ==============================
      - uses: actions/setup-python@v5
        with:
          python-version: "3.9"


# ==============================
# AWS Login
# ==============================
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}


# ==============================
# Upload Glue Script
# ==============================
      - name: Upload Glue script to S3
        run: |
          if [ ! -f "$GLUE_SCRIPT" ]; then
            echo "Glue script missing"
            exit 1
          fi

          aws s3 cp $GLUE_SCRIPT s3://$S3_BUCKET/$GLUE_SCRIPT_KEY


# ==============================
# Delete bad stack if stuck
# ==============================
      - name: Force delete failed stack if needed
        run: |
          STATUS=$(aws cloudformation describe-stacks \
            --stack-name $GLUE_STACK \
            --query "Stacks[0].StackStatus" \
            --output text 2>/dev/null || echo "NONE")

          if [[ "$STATUS" == "ROLLBACK_COMPLETE" || "$STATUS" == "UPDATE_ROLLBACK_FAILED" ]]; then
            echo "Deleting bad stack..."
            aws cloudformation delete-stack --stack-name $GLUE_STACK
            aws cloudformation wait stack-delete-complete --stack-name $GLUE_STACK
          fi


# ==============================
# Deploy Glue Job Stack
# ==============================
      - name: Deploy Glue Stack
        run: |
          aws cloudformation deploy \
            --stack-name $GLUE_STACK \
            --template-file template.yaml \
            --parameter-overrides \
              ScriptBucket=$S3_BUCKET \
              ScriptKey=$GLUE_SCRIPT_KEY \
              JobName=$GLUE_JOB \
            --capabilities CAPABILITY_NAMED_IAM \
            --no-fail-on-empty-changeset


# ==============================
# Deploy Crawlers Stack
# ==============================
      - name: Deploy Crawler Stack
        run: |
          aws cloudformation deploy \
            --stack-name $CRAWLER_STACK \
            --template-file crawler-template.yaml \
            --capabilities CAPABILITY_NAMED_IAM \
            --no-fail-on-empty-changeset


# ==============================
# Start Glue Job
# ==============================
      - name: Start Glue Job
        run: |
          RID=$(aws glue start-job-run \
            --job-name $GLUE_JOB \
            --query JobRunId \
            --output text)

          echo "RID=$RID" >> $GITHUB_ENV


# ==============================
# Wait Glue Job
# ==============================
      - name: Wait Glue Job
        run: |
          for i in {1..80}; do
            S=$(aws glue get-job-run \
              --job-name $GLUE_JOB \
              --run-id $RID \
              --query JobRun.JobRunState \
              --output text)

            echo "Glue status: $S"

            [[ "$S" == "SUCCEEDED" ]] && exit 0
            [[ "$S" == "FAILED" || "$S" == "STOPPED" ]] && exit 1

            sleep 30
          done

          echo "Timeout"
          exit 1


# ==============================
# Run Crawlers
# ==============================
      - name: Run airline crawler
        run: |
          aws glue start-crawler --name airline || true
          while true; do
            S=$(aws glue get-crawler --name airline --query 'Crawler.State' --output text)
            [[ "$S" == "READY" ]] && break
            sleep 20
          done


      - name: Run customers crawler
        run: |
          aws glue start-crawler --name customers || true
          while true; do
            S=$(aws glue get-crawler --name customers --query 'Crawler.State' --output text)
            [[ "$S" == "READY" ]] && break
            sleep 20
          done


# ==============================
# Success
# ==============================
      - name: Done
        run: echo "Glue + Crawlers CI/CD SUCCESS"
