name: Glue CI/CD

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      BUCKET: airport-airline-operations-analytics-platform
      SCRIPT: glue_job.py
      SCRIPT_KEY: scripts/glue_job.py
      STACK: glue-cicd-stack
      CRAWLER_STACK: glue-crawler-stack
      JOB: FinalGlueV2
      LAMBDA: airline-and-airport

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Upload Glue script
        run: |
          test -f $SCRIPT || exit 1
          aws s3 cp $SCRIPT s3://$BUCKET/$SCRIPT_KEY

      - name: Deploy Glue Job Stack
        run: |
          aws cloudformation deploy \
            --stack-name $STACK \
            --template-file template.yaml \
            --parameter-overrides \
              ScriptBucket=$BUCKET \
              ScriptKey=$SCRIPT_KEY \
              JobName=$JOB \
            --capabilities CAPABILITY_NAMED_IAM \
            --no-fail-on-empty-changeset

      - name: Deploy Crawlers Stack
        run: |
          aws cloudformation deploy \
            --stack-name $CRAWLER_STACK \
            --template-file crawler-template.yaml \
            --capabilities CAPABILITY_NAMED_IAM \
            --no-fail-on-empty-changeset

      - name: Update Lambda
        run: |
          zip lambda.zip lambda_function.py
          aws lambda update-function-code \
            --function-name $LAMBDA \
            --zip-file fileb://lambda.zip

      - name: Start Glue Job
        run: |
          RID=$(aws glue start-job-run --job-name $JOB --query JobRunId --output text)
          echo "RID=$RID" >> $GITHUB_ENV

      - name: Wait Glue Job
        run: |
          for i in {1..60}; do
            S=$(aws glue get-job-run --job-name $JOB --run-id $RID --query JobRun.JobRunState --output text)
            [[ "$S" == "SUCCEEDED" ]] && break
            [[ "$S" == "FAILED" || "$S" == "STOPPED" ]] && exit 1
            sleep 30
          done

      - name: Run airline crawler
        run: |
          aws glue start-crawler --name airline || true
          while true; do
            S=$(aws glue get-crawler --name airline --query 'Crawler.State' --output text)
            [[ "$S" == "READY" ]] && break
            sleep 20
          done

      - name: Run customers crawler
        run: |
          aws glue start-crawler --name customers || true
          while true; do
            S=$(aws glue get-crawler --name customers --query 'Crawler.State' --output text)
            [[ "$S" == "READY" ]] && break
            sleep 20
          done
