name: Glue CI/CD

on:
  push:
    branches:
      - main
      - develop

  pull_request:
    branches:
      - main
      - develop

  workflow_dispatch:

jobs:
  glue:
    runs-on: ubuntu-latest

    env:
      BUCKET: airport-airline-operations-analytics-platform
      SCRIPT: glue_job.py
      KEY: scripts/glue_job.py
      STACK: glue-cicd-stack
      JOB: FinalGlue
      CRAWLER1: airline
      CRAWLER2: customers

    steps:

      # -------------------
      # Checkout
      # -------------------
      - uses: actions/checkout@v4

      - run: ls -R


      # -------------------
      # AWS Login
      # -------------------
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}


      # -------------------
      # Upload Script
      # -------------------
      - name: Upload Glue Script
        run: |
          test -f $SCRIPT || (echo "glue_job.py missing" && exit 1)
          aws s3 cp $SCRIPT s3://$BUCKET/$KEY

      - run: aws s3 ls s3://$BUCKET/$KEY


      # -------------------
      # Deploy Stack
      # -------------------
      - name: Deploy CFN
        run: |
          test -f template.yaml || (echo "template.yaml missing" && exit 1)

          aws cloudformation deploy \
            --stack-name $STACK \
            --template-file template.yaml \
            --parameter-overrides \
              ScriptBucket=$BUCKET \
              ScriptKey=$KEY \
              JobName=$JOB \
            --capabilities CAPABILITY_NAMED_IAM \
            --no-fail-on-empty-changeset


      # -------------------
      # Wait Job Exists
      # -------------------
      - name: Wait for Glue Job
        run: |
          for i in {1..20}; do
            if aws glue get-job --job-name $JOB >/dev/null 2>&1; then
              echo "Job ready"
              exit 0
            fi
            sleep 15
          done
          exit 1


      # -------------------
      # Refresh Metadata
      # -------------------
      - name: Refresh Job Metadata
        run: |
          aws glue update-job \
            --job-name $JOB \
            --job-update "Command={Name=glueetl,ScriptLocation=s3://$BUCKET/$KEY,PythonVersion=3}"


      # -------------------
      # Start Glue
      # -------------------
      - name: Start Glue Job
        run: |
          ID=$(aws glue start-job-run \
            --job-name $JOB \
            --query JobRunId \
            --output text)

          echo "RUN_ID=$ID" >> $GITHUB_ENV


      # -------------------
      # Wait Glue Complete
      # -------------------
      - name: Wait Glue
        run: |
          for i in {1..40}; do
            S=$(aws glue get-job-run \
              --job-name $JOB \
              --run-id $RUN_ID \
              --query JobRun.JobRunState \
              --output text)

            echo "Glue status: $S"

            if [ "$S" = "SUCCEEDED" ]; then break; fi
            if [ "$S" = "FAILED" ] || [ "$S" = "STOPPED" ]; then exit 1; fi

            sleep 30
          done


      # -------------------
      # Run Crawler 1
      # -------------------
      - name: Run Airline Crawler
        run: |
          aws glue start-crawler --name $CRAWLER1 || true

          while true; do
            S=$(aws glue get-crawler \
              --name $CRAWLER1 \
              --query 'Crawler.State' \
              --output text)

            echo "Crawler airline: $S"
            if [ "$S" = "READY" ]; then break; fi
            sleep 20
          done


      # -------------------
      # Run Crawler 2
      # -------------------
      - name: Run Customers Crawler
        run: |
          aws glue start-crawler --name $CRAWLER2 || true

          while true; do
            S=$(aws glue get-crawler \
              --name $CRAWLER2 \
              --query 'Crawler.State' \
              --output text)

            echo "Crawler customers: $S"
            if [ "$S" = "READY" ]; then break; fi
            sleep 20
          done


      # -------------------
      # Done
      # -------------------
      - name: Success
        run: echo "Glue + Crawlers completed"
