name: Glue CI/CD

on:
  push:
    branches: [ "develop" ]
  workflow_dispatch:

jobs:
  glue-deploy:
    runs-on: ubuntu-latest

    env:
      S3_BUCKET: airport-airline-operations-analytics-platform
      SCRIPT_NAME: glue_job.py
      SCRIPT_S3_KEY: scripts/glue_job.py
      STACK_NAME: glue-cicd-stack
      GLUE_JOB: FinalGlue

    steps:

      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      # ----------------
      # Upload script
      # ----------------
      - name: Upload Glue Script
        run: |
          aws s3 cp $SCRIPT_NAME s3://$S3_BUCKET/$SCRIPT_S3_KEY

      # ----------------
      # Deploy stack
      # ----------------
      - name: Deploy Stack
        run: |
          aws cloudformation deploy \
            --stack-name $STACK_NAME \
            --template-file template.yaml \
            --parameter-overrides \
              ScriptBucket=$S3_BUCKET \
              ScriptKey=$SCRIPT_S3_KEY \
              JobName=$GLUE_JOB \
            --capabilities CAPABILITY_NAMED_IAM

      # ----------------
      # Verify job exists
      # ----------------
      - name: Wait for Glue Job Creation
        run: |
          for i in {1..20}; do
            if aws glue get-job --job-name $GLUE_JOB; then
              echo "Glue job ready"
              exit 0
            fi
            echo "Waiting for Glue job..."
            sleep 15
          done
          echo "Glue job not created"
          exit 1

      # ----------------
      # Start job
      # ----------------
      - name: Start Glue Job
        run: |
          JOB_RUN_ID=$(aws glue start-job-run \
            --job-name $GLUE_JOB \
            --query JobRunId \
            --output text)

          echo "JOB_RUN_ID=$JOB_RUN_ID" >> $GITHUB_ENV

      # ----------------
      # Wait for finish
      # ----------------
      - name: Wait for Completion
        run: |
          for i in {1..60}; do
            STATUS=$(aws glue get-job-run \
              --job-name $GLUE_JOB \
              --run-id $JOB_RUN_ID \
              --query JobRun.JobRunState \
              --output text)

            echo "Status: $STATUS"

            if [ "$STATUS" = "SUCCEEDED" ]; then exit 0; fi
            if [ "$STATUS" = "FAILED" ]; then exit 1; fi

            sleep 30
          done
          exit 1
